
footer{
	position:absolute;
   bottom:0;
   width:100%;
  
}


body {
	background-color: #f8f8ff;
  font-family: 'Montserrat', sans-serif;
}




aside img {
	margin: auto;
	width: 80%;
}


div button {
	width: 200px;

}

.tablas {
  margin-left: 50px;
}

/* BOTONES EDITAR-ROL */

.boton-rol{
	width: 200px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.atras {
	margin: 30px;
	width: 80px;

}


/*BUSQUEDA ALUMNO*/

.busquedaA {
	width: 30px;
	float: right;
}

/*ADMIN-USUARIO */

#ordenarU {
	margin-left: 30px;
}


.boton-usuario{
	width: 150px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 20px;
	float: right;
}

.subtitulo {
  margin-left: 40px;
}


#fechaA {
  margin-left: 40px;
}



/* CLASES */


aside button{
	margin-top: 30px;
	margin-left: 10px;
}



.mitad1 {
	  background: linear-gradient(to right, #2884c1 , #61b0ed);
	
	height: 60px;

}





.mitad1 img {
	padding-top: 10px;
	height: 100%;
}

.adminprincipal {
	height: 50px;
}

#lista {
	background-color:red;
}





.demo img {

	margin-top: 20px;
	width: 400px;
	height: 300px;
}


.salir {
	width: 30px;
	margin-top: 10px;
	float: right;

}



.menu {
	background-color:  #f8f8ff;
	
	font-size: 14pt;

}

.agregar{
	position: fixed;
	bottom: 50px;
	right: 0;
	width: 50px;

}

.agregar:hover {
	width: 70px;


}
.busqueda{
	margin-top: 20px;
}

.busqueda select {
	
	margin-top: 20px;
}



/*TABLA */

td img {
	width: 30px;
	float: right;
}
table {

  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  margin-left: 35px;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}