


html body {
  font-family: 'Open Sans',sans-serif;
}

footer{
  height: 20px!important;
  margin-top: 15px;
}

body {
  background-color: rgb(255,255,255);

/*  font-family: 'Montserrat', sans-serif;*/
}

.saludo {
  float: right;
  margin-top: 30px;
  color: #efefef;
}


.equip {
  border: 1.5px solid lightgrey;
  box-shadow: black;
  
  position: fixed;
  z-index: 1;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0%;
    top: 0%;
    padding-top: 100px;


}


.equip caption{
  color: #efefef;
}
.equip table {
  width: 50%;
 margin-bottom: 30px;
 background-color: #efefef;
 margin: auto;
 padding: 30px;

}

.carousel-inner {
  height: 400px;
}

.carousel{
  position: relative;
}

aside img {
  margin: auto;
  width: 80%;
}

.final{
  height: 100px;
}


.cuestion {

 
  overflow: hidden;
  height: 600px;

}

.primero{
  margin-right: 20px;
}

textarea{
  width: 100%;
}



div button {
  width: 200px;

}

.tablas {
  margin-left: 50px;
}

/* BOTONES EDITAR-ROL */

.boton-rol{
  width: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.atras {
  margin: 30px;
  width: 80px;

}


/*BUSQUEDA ALUMNO*/

.busquedaA {
  width: 30px;
  float: right;
}

.mitad1 .barra{
  float:left;
}
/*ADMIN-USUARIO */

#ordenarU {
  margin-left: 30px;
}


.boton-usuario{
  width: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  float: right;
}

.subtitulo {
  margin-left: 40px;
}


#fechaA {
  margin-left: 40px;
}



/* CLASES */


aside button{
  margin-top: 30px;
  margin-left: 10px;
}



.mitad1 {
  /*  background: linear-gradient(to right, #2884c1 , #61b0ed);
  */
  background-color: #314d68;
  border-bottom: 1px solid rgb(27,27,27);
  height: 60px;
  
  position: relative;
}


.header_bg{
  border-top: 5px groove #3b3b3b;
  background: url('Images/bg-h.png') no-repeat left;
  background-size: 100%;
}

.h_search form {
  width: 100%;
}

.h_search form input[type="text"]{
  padding: 10px 16px;
  outline: none;
  color: #c6c6c6;
  font-size: 13px;
  border: 1px solid rgb(236,236,236);
  width: 73.333%;
  line-height: 22px;
  position: relative;
}
.h_search form input[type="button"]{
  background: #3b3b3b;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  
  position: absolute;
  line-height: 1.5em;
  outline: none;

}
.foto img{
  width: 200px;
}

.botonesE{
  text-align: center;
}

.botonesE button{
  margin: 0px 20px;
}



.h_search form input[type="button"]:hover{

  background: rgb(255,84,84);
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;

}



.mitad1 img {
  padding-top: 10px;
  height: 100%;

}
.navbar-left{
  float:left!important;
}

.navbar-right{
  float:right!important;
}

.adminprincipal {
  height: 50px;
}

#lista {
  background-color:red;
}

.nav {
  float: left;
  margin :0;
  padding-left: -15px;
}
.nav >li > a {
  padding: 20px 30px;
  text-transform: uppercase;
  font-size: 13px;
}

.container {
  padding-left: 0;
}

.demo img {

  margin-top: 20px;
  width: 400px;
  height: 300px;
}


.salir {
  width: 25px;
  margin-top: 10px;
  margin-right: 20px;
  float: right;

}
/*

TEMPORAL 

*/


/********************************************/

.menu {
  /*background-color: rgb(59,59,59);*/
  background-color: #3B3B3B;
  font-size: 13px;
  margin-top: 20px;

}


.navi a{

  color: rgb(255,254,244)!important;
}

.navi li{
  border-right: .5px solid rgb(27,27,27);
}
.navi li:hover {
  background: rgb(255,84,84);
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

.activa {
  background-color: rgb(255,84,84);
}




.agregar{
  position: fixed;
  bottom: 50px;
  right: 0;
  width: 50px;

}

.agregar:hover {
  width: 70px;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;

}
.busqueda{

  margin-top: 20px;
}

.busqueda select {
  color: rgb(89,85,83);
  margin-top: 20px;
}



/*TABLA */

td img {
  width: 30px;
  float: right;
}
table {

  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  margin-left: 35px;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}