.evento {




	width: 75%;
	height: 200px;
	background-color: #333;
	color: #efefef;
	border-radius: 1em;




}


.evento:hover{
	color: #efefef;
	background-color: rgb(255,84,84);
	transition: .5s;
}

.tablaevento td{
	padding-top: 5em;
	background-color: rgb(255,255,255);
	border: none;
}

tbody {
	border: 1px solid rgb(255,255,255);

	
}